<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS 23-24</title>
    <link rel="stylesheet" href="css/style.css">
    <script data-main="js/app" src='js/require.js'></script>
</head>
<body>
    <script type="text/template" id="wrapper-template">
        <div class="wrapper">
            <div class="toDo_conteyner clearfix">
                <h1>To Do List</h1>
                <ul class="input-list style-4 clearfix">
                    <li>
                        <input type="text" placeholder="Enter task" class="item__value">
                    </li>
                </ul>

                <button class="item__add myButton">Add</button>

                <ul class="item__list"></ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="list-template">
        <% for(var i = 0; i < data.length; i++){ %>
        <li class="item__block"><input type="text"  disabled = "disabled" value="<%= data[i] %>" class="toDoList__item"><span data-value="<%= data[i] %>" class="item-delete"></span></li>
        <% }; %>
    </script>

</body>
</html>