@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "news-123.scss";
@import "our-services.scss";
@import "news-banners.scss";
@import "logo.scss";
@import "footer.scss";

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size:  16px;
  min-width: $widthWrapper;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.container{
  max-width: $widthWrapper;
  margin: 0 auto;
}
.position_left{
  float:left;
}
.position_right{
  float:right;
}