$backgroundColorHeader:             #fff;
$backgroundColorHeaderNavigation:   #2a2d32;

$titleTextFirstColor:               #434343;
$titleTextSecondColor:              #9d9d9d;
$titleNavigationColor:		    	#cccccc;
$titleNavigationHoverColor:		    #248cec;

$headerMenuItemColor:               white;
$headerMenuItemHoverColor:          #be9117;
$headerMenuItemActiveBGColor:       #248cec;
$headerMenuItemBorderColor:         #181a1d;
$headerSearchTextColor:             white;
$headerSearchTextBGColor:           #35383c;
$headerSearchTextBorderColor:       #2a2d32;
$headerSearchButtonColor:           #5d6063;
$headerSliderTextColor:             white;
$headerSliderTextFirstChildColor:   #f4b60d;
$headerSliderTextBGColor:           rgba(28,34,39,0.8);

$backgroundNews123Color:            #fff;
$new123NumberTextColor:             #e9e9ea;
$new123ArticleHeaderColor:          #2a2b2e;
$new123ArticleContentColor:         #a5a5a5;
$new123ArticleFooterColor:          #2a2b2e;
$new123ArticleFooterArrowColor:     #3e9aee;
$new123ArticleFooterHoverColor:     #5eabf1;
$new123ArticleFooterArrowHoverColor:#989fb3;

$backgroundOurServicesColor:        #2a2d32;
$ourServicesHeaderColor:            #f2f2f2;
$ourServicesFooterColor:            #fff;
$ourServicesFooterHoverColor:       #be9117;
$ourServicesOpacityColor:           rgba(46,144,233,0.9);
$ourServicesOpacityPlusColor:       #fff;

$backgroundNewsBannersColor:        #f7f7f7;
$latestNewsHeaderColor:             #2a2d32;
$latestNewsMonthBGColor:            #248cec;
$latestNewsDayBGColor:              #f4b60d;
$latestNewsTextHeaderColor:         #616367;
$latestNewsTextSubeaderFirstColor:  #9d9d9d;
$latestNewsTextSubeaderSecondColor: #0187f4;
$latestNewsTextContentColor:        #8a8a8a;

$bannersHeaderColor:                #2a2d32;
$accordionPanelBGColor:             #fff;
$accordionPanelTextColor:           #8a8a8a;
$accordionPanelActiveColor:         #fff;
$accordionPanelActiveBGColor:       #f4b60d;

$backgroundLogoColor:               #fff;
$backgroundLinksColor:              #2a2d32;
$linksHeaderColor:                  #fff;
$linksLinkColor:                    #828385;
$linksLinkHoverColor:               #248cec;

$backgroundContactsColor:           #35383c;
$contactsTextColor:                 #6f7073;

//
$widthWrapper:                      1161px;

$widthHeaderMenuItem:               126px;
$heightHeaderMenuItem:              56px;
$widthHeaderSearch:                 260px;
$widthHeaderSearchForm:             240px;
$heightHeaderSearchForm:            40px;
$heightSliderItem:                  471px;

$widthNew123Article:                240px;

$widthOurSrvicesImage:              260px;
$heightOurSrvicesImage:             260px;

$widthLatestNewsImage:             152px;
$heightLatestNewsImage:            152px;
$widthLatestNewsDate:               40px;
$heightLatestNewsDate:              80px;
$widthLatestNewsArticle:           380px;

$widthAccordionPanel:              560px;
$heightPanelHeader:                 40px;
$widthPanelToggle:                  38px;

$widthLinksColumn:                 260px;
$widthLinksColumnGeneral:          300px;