body{
  background-color: lavender;
}
h1, .foto{
text-align: center;
}
#wrapper{
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px gray;
  padding: 50px;
  background-color: white;
}
p, a, li{
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;

}
p{
  text-indent: 20px;
}
a{
  padding: 20px;
}
.foo1{
  margin-top: 50px;
  border: 2px solid black;

}
