@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fonts/ubuntu-b-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Bold Italic';
    src: url('../fonts/ubuntu-bi-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Condensed Regular';
    src: url('../fonts/ubuntu-c-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Light';
    src: url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Light Italic';
    src: url('../fonts/ubuntu-li-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-li-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Medium Italic';
    src: url('../fonts/ubuntu-mi-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-mi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu Italic';
    src: url('../fonts/ubuntu-ri-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-ri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}