<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>JS 3-4</title>
</head>
<body>
<!--Вставка по шаблону-->
        <script type="text/html" id="temp">
            <div class="container">
                <% for (var i = 0; i < data.length; i++) { %>
                <h2><%= data[i].q %></h2>
                <form>
                <ul>
                <li class="list-unstyled">
                    <label>
                        <input type="radio" name="answers">
                    <%= data[i].a1 %></li>
                    </label>
                <li class="list-unstyled"><label>
                    <input type="radio" name="answers">
                    <%= data[i].a2 %></li>
                    </label>
                    </li>
                <li class="list-unstyled"><label>
                    <input type="radio" name="answers">
                    <%= data[i].a3 %></li>
                    </label>
                    </li>
                <li class="list-unstyled"><label>
                    <input type="radio" name="answers">
                    <%= data[i].a4 %></li>
                    </label>
                    </li>
                </ul>
                </form>
                <% }; %>
                <div class=" my-btn"><button class="btn btn-default btn-lg col-md-4">Проверить мои результаты</button></div>
            </div>
        </script>

<!---->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--    <script src="js/script2.js"></script>-->
    <script src="js/jslocalStotage.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/tmcontent.js"></script>
</body>
</html>