.wraper{
  width: 980px;
  margin: 0 auto;
  box-shadow: 0 0 10px gray;
  padding: 50px;
  background-color: white;

}

/*NAVIGATION */
ul li{
  list-style-type: none;
  }
li a{
  text-decoration: none;
}
.menu1{
  background-color: #4f4f4f;
  min-height: 40px;
  width: 966px; /* Ширина меню */
}
.menu1 li{
float: left;
width: 145px
}
.menu1 a{
  display: block;
  font-size: 14.67px;
  color: white;
  text-align: center;
  padding: 10px;
}
.menu1 li a:hover{
  background-color: #444444;
  height: 20px;
  border-right: 1px solid #838383;
  border-left:1px solid #838383;
}
.menu2{
  background-color: #e1e1e1;
  min-height: 40px;
  width: 966px; /* Ширина меню */
  overflow: hidden;
}
.menu2 li{
float: left;
width: 145px
}
.menu2 a{
  display: block;
  font-size: 14.67px;
  color: black;
  text-align: center;
  padding: 10px;
}
.menu2 li a:hover{
    text-decoration:underline;
  height: 20px;
}
#copira{
  width:360px;
  text-align: right;
  padding: 10px
}

/*NAVIGATION */
/* Left menu */
.left-me{
  float: left;
  min-height: 40px;
  width: 240px;
  margin-top: 40px;
  }
.left-me a{
  display: block;
  font-size: 14.67px;
  color: #656363;
  text-align: left;
  padding: 20px 25px;
  border: 1px solid grey
}
.left-me li a:hover{
  padding-left: 40px;
  color: black;
}
/* Left menu */
/* content */
.content{
  float: right;
  overflow: auto;
  margin-right: 20px;
  margin-top: 40px;
  width: 70%;
}
div .velos{
  text-align: center;
  padding: 50px;
  border: 1px solid grey;
}
.text{
  padding: 30px 20px;
}

/* content */
