$Roboto-Medium: webfontregular;
body{
  font-size: 16px;
  line-height: 22px;
  font-family: $Roboto-Medium;
}
header{
  background-color: #eeeeee;
  padding-bottom: 55px;
  margin-bottom: 82px;
}
.container{
  width: 900px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.nav-navigation{
  float: left;
}

.header__logo{
  float: left;
  margin-top: 25px;
  width: 290px;
  padding-left: 10px;
  text-align: left;
  //margin-right: 180px;
}
.header__menu-list{
  margin-left: 0;
  padding-left: 0;
  float: left;
  display: inline-block;
  vertical-align: top;
  //max-width: 460px;
}
.header__menu-item{
  float: left;
  list-style: none;

    a {
      font-family: $Roboto-Medium;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      line-height: 30px;
      padding-right: 50px;
      padding-top: 30px;
      color: #0b0b0b;
    }
}
.header__basket{
  @extend .header__menu-item;
  display: inline-block;
  padding-top: 15px;
}
// Slider
.header__slider{
   min-height: 275px;
}

// Promo
.promo{
  min-height: 380px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 73px;
}
.promo__index{
  float: left;
  width: 240px;
  margin-right: 80px;
}
.promo__index:first-child{
  padding-left: 10px;
}
.promo__index:last-child{
  margin-right: 0;
}
.promo__index-title{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 25px;
}
.promo__index-text{
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  margin-bottom: 32px;
  font-family: $Roboto-Medium;
}
.btn{
  width: 140px;
  background-color: #fb565a;
  color: white;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 45px;
  border-radius: 5px;

}
.btn--green{
  background-color: #00ca74;
}
.btn--yellow{
  background-color: #efc84a;
}
// END Promo

// About
.about {
  @extend .promo;
}
.colum__left{
  max-width: 590px;
  float: left;
}
.colum__right{
  float: right;
  max-width: 240px;
}
.about__title{
  font-size: 36px;
  line-height: 36px;
}
.about__subtitle{
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}
.colum__text{
  @extend .about__subtitle;
}
.colum__text-title{
  text-transform: uppercase;
}
.colum__text-item{
 list-style: none;
}
.colum__text-item:before{
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-image: url("../../img/list-item.png");
  background-position: left center;
  position: relative;
  left: -35px;
  top: 12px;
}
.about__title-logo{
  text-align: center;
}
.about__title-logo{
  font-size: 16px;
  line-height: 9px;
  color: #0b0b0b;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
}
.about__title-logo:after,
.about__title-logo:before{
  content: "";
  display: block;
  position: relative;
  width: 65px;
  border-top: 2px solid #eeeeee;
}
.about__title-logo:after{
  right: -160px;
  top:-5px;
}
.about__title-logo:before{
  right: 15px;
  top:5px;
}
// END About
