body {
  font-size: 16px;
  line-height: 22px;
  font-family: webfontregular; }

header {
  background-color: #eeeeee;
  padding-bottom: 55px;
  margin-bottom: 82px; }

.container {
  width: 900px;
  margin: 0 auto; }

.promo, .about, .about, .logo-company, footer {
  background-color: #ffffff; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.nav-navigation {
  float: left; }

.header__logo {
  float: left;
  margin-top: 25px;
  width: 290px;
  padding-left: 10px;
  text-align: left; }

.header__menu-list {
  margin-left: 0;
  padding-left: 0;
  float: left;
  display: inline-block;
  vertical-align: top; }

.header__menu-item, .header__basket {
  float: left;
  list-style: none; }
  .header__menu-item a, .header__basket a {
    font-family: webfontregular;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    padding-right: 50px;
    padding-top: 30px;
    color: #0b0b0b; }

.header__basket {
  display: inline-block;
  padding-top: 15px; }

.header__slider {
  min-height: 275px; }

.promo, .about {
  min-height: 380px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 73px; }

.promo__index {
  float: left;
  width: 240px;
  margin-right: 80px; }

.promo__index:first-child {
  padding-left: 10px; }

.promo__index:last-child {
  margin-right: 0; }

.promo__index-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 25px; }

.promo__index-text {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  margin-bottom: 32px;
  font-family: webfontregular; }

.btn {
  width: 140px;
  background-color: #fb565a;
  color: white;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 45px;
  border-radius: 5px; }

.btn--green {
  background-color: #00ca74; }

.btn--yellow {
  background-color: #efc84a; }

.about {
  min-height: 400px;
  margin-bottom: 45px; }

.colum__left {
  max-width: 590px;
  float: left; }

.colum__right {
  float: right;
  max-width: 240px; }

.about__title {
  font-size: 36px;
  line-height: 36px; }

.about__subtitle, .colum__text {
  font-size: 16px;
  line-height: 22px;
  color: #283136; }

.colum__text-title {
  text-transform: uppercase; }

.colum__text-item {
  list-style: none; }

.colum__text-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-image: url("../../img/list-item.png");
  background-position: left center;
  position: relative;
  left: -35px;
  top: 12px; }

.about__title-logo {
  text-align: center; }

.about__title-logo {
  font-size: 16px;
  line-height: 9px;
  color: #0b0b0b;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px; }

.about__title-logo:after,
.about__title-logo:before {
  content: "";
  display: block;
  position: relative;
  width: 65px;
  border-top: 2px solid #eeeeee; }

.about__title-logo:after {
  right: -160px;
  top: -5px; }

.about__title-logo:before {
  right: 15px;
  top: 5px; }

.logo-company {
  padding-bottom: 35px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 90px; }

.map {
  background-image: url("../../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 416px;
  width: 1199px;
  margin: 0 auto;
  position: relative; }

.map__contacts {
  position: absolute;
  left: 160px;
  top: 90px;
  background-color: white;
  min-width: 250px;
  height: 240px; }

.map__contacts-title {
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 900px;
  text-transform: uppercase; }

.map__contacts-address,
.map__contacts-tel {
  color: #666666;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 25px; }

.map__contacts-btn {
  display: block;
  width: 200px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: #fb565a;
  font-size: 12px;
  line-height: 18px; }

.footer__smm {
  min-height: 215px; }

.footer__smm-list,
.footer__tagline {
  float: left;
  margin-top: 80px; }

.footer__smm-item {
  list-style: none;
  float: left;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #e1e1e1;
  position: relative; }
  .footer__smm-item a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    position: absolute;
    left: 15px;
    top: 18px; }

.footer__tagline {
  margin-left: 85px;
  margin-top: 40px; }

.footer__tagline-title {
  font-size: 36px;
  line-height: 36px; }
