.wrapper{
  width: 1215px;
  height: 1064px;
  margin: 0 auto;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}
.menu{
  height: 36px;
  background-color: #075190;
  margin-bottom: 215px;
}
.menu ul{
  float: right;
  height: 36px;
  }
.menu li{
  list-style: none;
  display: inline-block;
  color: #60b5ed;
  margin-right: 15px;
  line-height: normal;
  padding-top: 10px;
  font-size: 14px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  }
#flag{
/*  height: 31px;
  width: 28px;*/
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: left top;

}
#line{
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  padding-right: 20px;
  background-position: right top;

}

.menu li:hover{
  background: #4eabda;
  color: white;
}
li .bo{
  text-decoration: underline;
}
#select{
  background: #4eabda;
  color: white;
}
/*Pop-UP*/
.popup{
  width: 560px;
  height: 612px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
/*Pop-UP*/

body{
  background: black;
  font-family: Tahoma;
}
