/*****************/
header{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;

  }

.container-logo-menu{
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
  -outline: 1px solid #000;
}
.site-logo{
  float: left;
}
.menu-item{
    display: inline-block;
    margin-left: 120px;
  }
.menu-item480{
    display: none;
}
.menu-list{
  padding: 24px 0 0 52px;
}
.header-slider-polosa{
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 175px;
    margin-bottom: 170px;
    height: 400px;
  }
.slider-title{
  padding-top: 19%;
  font-size: 60px;
  line-height: 36px;
}
.slider-subtitle{
  font-size: 32px;
  line-height: 36px;
  margin: 8px 0 3px;
}
.slider-text{
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans";
}

.slider-polosa-alltext{
  width: 496px;
  position: relative;
  line-height: 20px;
}
.img-slide{
  background-image: url(../img/iphone.png);
  height: 415px;
  width: 280px;
  position: absolute;
  right: 65px;
  top: -21px;
  display: block;
  text-align: right;
}

.slider-block{
  margin: 0 auto;
  width: 960px;
  position: relative;
  -border: 2px solid black;
}
.slide-block-check{
  position: absolute;
  right: 170px;
  bottom: -238px;
}



.slider-block:before{
  content: "";
  display: block;
  background-image: url(../img/strelki.png);
  background-position: left;
  width: 25px;
  height: 40px;
  position: absolute;
  left: -33%;
  top: 66%;
}
.slider-block:after{
  content: "";
  display: block;
  background-image: url(../img/strelki.png);
  background-position: right;
  width: 25px;
  height: 40px;
  position: absolute;
  right: -33%;
  top: 66%;
}





.blue-block{
  background-image: url(../img/blue-pole.png);
  background-repeat: repeat-x;
  height: 342px;
}
.blue-block-all{
  width: 980px;
  margin: 0 auto;
  -outline: 1px solid black;
  -font-size: 0;
}
.blue-container{
  width: 220px;
  display: inline-block;
  margin-left: 62px;  /*margin-left: 72px;*/
  margin-right: 54px;  /*margin-right: 44px;*/
  position: relative;
  -outline: 1px solid black;
  padding: 0;
}
#right_marg-0{
margin-right: 0;
}
.blue-container-title{
font-size: 30px;
color: white;
margin-top: 77px;
margin-bottom: 10px;
}
.more{
  margin-top: 18px;
}
.icon1:before{
  top: 84px;
  left: -54px;
}
.icon2:before{
  top: 84px;
  left: -54px;
}
.icon3:before{
  top: 84px;
  left: -54px;
}




.avtor{
  height: 485px;
}
.avtor-block-all{
width: 880px;
margin: 0 auto;
}
.avtor-container{
width: 360px;
margin-left: 23px;
margin-top: 130px;
padding-bottom: 40px;
box-shadow: 0 5px 5px #efefef;
}
.avtor-container-upd{
width: 411px;
box-shadow:none;
margin-left: 86px;
}
.avtor-title{
  font-size: 30px;
}
.avtor-slide-block-check{
  left: 34%;
  bottom: -60px;
}
.avtor-more{
  padding: 0;
  margin-top: 28px;
  margin-right: -19px;
}



.company{
  height: 120px;
}
.v768{
  display: none;
}
.v480logo{
  display: none;
}
.v320logo{
  display: none;
}



.pre-footer{
  height: 396px;
  background-color: #ececec;
  display: block;
}
.pre-footer-block-all{
 width: 960px;
 margin: 0 auto;
}
.pre-footer-container{
 width: 280px;
 margin-left: 0;
 margin-right: 57px;
 -border: 1px solid #000;
}
#pre-foo-right_marg-0{
 margin-right: 0;
 margin-left: 2px;
}
.v960fs{
font-size: 48px;
}
.pre-footer-container-title{
 font-size: 30px;
 margin-top: 95px;

}
.pre-footer-first-line{
 font-style: italic;
 color:#b9b9b9;
 font-size: 16px;
 line-height:  24px;
 margin: 10px 0 -5px;
 font-family: Georgia;

}
.w960hiden{
 display: none;
}



.footer-bg{
  background-image: url(../img/footer-bg.jpg);
  height: 119px;
}
.footer-conteiner{
width: 960px;
margin: 0 auto;
padding-top: 18px;
-border: 1px solid black;
}
.footer-conteiner nav{
  display: inline-block;
}
.copyrait{
  padding-top: 35px;
  float: right;
}
.footer-menu{
  margin-left: 0;
}
/*после подстройки*/
.footer-menu .menu-list{
  padding: 23px 40px 0 0;
}
/*после подстройки   конец*/
